<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title> 게시글 페이지 </title>
</head>
<body>
<header id="main_header" ></header>
<main>
    <header>
        <h1>첫번째 글</h1>
    </header>
    <aside>
        <p>hyeonbin</p>
        <p a href = "mailto:misohb@gamil.com">misohb@gmail.com</p>
        <p><time datetime="2023-02-18T00:00:00">2023-02-18</time></p>
        <p>#java</p>
    </aside>

    <section>
        <p>본문<br><br></p>
        <div>
            <form>
                <label for= "articleCommnet" hidden>댓글</label>
                <textarea id="articleCommnet"  placeholder="댓글 쓰기..." rows = "3"></textarea>
                <button type="sumbit">쓰기</button> 함
            </form>

            <ul>
                <li>
                    <time><small>2022-02-18</small></time>
                    <strong>hyeonbin</strong>
                    <p>
                        그냥 댓글을 적어보야요...
                    </p>
                </li>
            </ul>
            <ul>
                <li>
                    <time><small>2022-02-18</small></time>
                    <strong>Shin</strong>
                    <p>
                        테스팅중입니다.
                    </p>
                </li>
            </ul>
        </div>
        <nav>
            <a href="#">이전 글</a>
            <a href="#">다음 글</a>
        </nav>
    </section>
</main>
<footer id="main_footer"></footer>

</body>
</html>
